USE [master]
GO
/****** Object:  Database [CHEVEUX]    Script Date: 2018/07/28 16:14:49 ******/
CREATE DATABASE [CHEVEUX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHEVEUX', FILENAME = N'F:\Google Drive\Visual Studio\Cheveux\CHEVEUX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHEVEUX_log', FILENAME = N'F:\Google Drive\Visual Studio\Cheveux\CHEVEUX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHEVEUX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHEVEUX]
GO
/****** Object:  Table [dbo].[ACCESSORY]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESSORY](
	[AccessoryID] [nchar](10) NOT NULL,
	[Colour] [varchar](50) NULL,
	[Qty] [int] NULL,
	[BrandID] [nchar](10) NULL,
 CONSTRAINT [PK_ACCESSORY] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BookingID] [nchar](10) NOT NULL,
	[SlotNo] [nchar](10) NULL,
	[CustomerID] [nchar](30) NULL,
	[StylistID] [nchar](30) NULL,
	[ServiceID] [nchar](10) NULL,
	[Date] [datetime] NULL,
	[Available] [char](1) NULL,
	[Arrived] [char](1) NULL,
	[Comment] [varchar](max) NULL,
 CONSTRAINT [PK_BOOKING] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAID_SERVICE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAID_SERVICE](
	[ServiceID] [nchar](10) NOT NULL,
	[WidthID] [nchar](10) NULL,
	[LengthID] [nchar](10) NULL,
	[StyleID] [nchar](10) NULL,
 CONSTRAINT [PK_BRAID_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[BrandID] [nchar](10) NOT NULL,
	[Name] [varchar](50) NULL,
	[Type(T/A)] [char](1) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUSINESS]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUSINESS](
	[BusinessID] [nchar](10) NOT NULL,
	[Vat%] [int] NOT NULL,
	[VatRegNo] [nchar](10) NOT NULL,
	[AddressLine1] [varchar](max) NOT NULL,
	[AddressLine2] [varchar](max) NULL,
	[Phone] [nchar](10) NOT NULL,
	[WeekdayStart] [time](7) NOT NULL,
	[WeekdayEnd] [time](7) NOT NULL,
	[WeekendStart] [time](7) NOT NULL,
	[WeekendEnd] [time](7) NOT NULL,
	[PublicHolStart] [time](7) NOT NULL,
	[PublicHolEnd] [time](7) NOT NULL,
	[Logo] [varbinary](max) NULL,
 CONSTRAINT [PK_BUSINESS] PRIMARY KEY CLUSTERED 
(
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUST_VISIT]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_VISIT](
	[CustomerID] [nchar](30) NOT NULL,
	[Date] [datetime] NOT NULL,
	[BookingID] [nchar](10) NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_CUST_VISIT] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeID] [nchar](30) NOT NULL,
	[AddressLine1] [varchar](max) NULL,
	[AddressLine2] [varchar](max) NULL,
	[Type] [nchar](10) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home_Page]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home_Page](
	[FeatureID] [nchar](10) NOT NULL,
	[ItemID] [nchar](30) NOT NULL,
	[ImageURL] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENGTH]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENGTH](
	[LengthID] [nchar](10) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_LENGTH] PRIMARY KEY CLUSTERED 
(
	[LengthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ProductID] [nchar](10) NOT NULL,
	[Name] [varchar](max) NULL,
	[ProductDescription] [varchar](max) NULL,
	[Price] [money] NULL,
	[ProductType(T/A/S)] [char](1) NULL,
	[Active] [char](1) NULL,
	[ProductImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[ReviewID] [nchar](10) NOT NULL,
	[CustomerID] [nchar](30) NULL,
	[EmployeeID] [nchar](30) NULL,
	[Date] [datetime] NULL,
	[Time] [time](7) NULL,
	[Rating] [float] NULL,
	[Comment] [varchar](50) NULL,
 CONSTRAINT [PK_REVIEW] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[SaleID] [nchar](10) NOT NULL,
	[Date] [datetime] NULL,
	[CustomerID] [nchar](30) NULL,
	[PaymentType] [nchar](10) NULL,
	[BookingID] [nchar](10) NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_DTL]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_DTL](
	[SaleID] [nchar](10) NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Qty] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_SALES_DTL] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ServiceID] [nchar](10) NOT NULL,
	[NoOfSlots] [int] NULL,
	[Type(A/N/B)] [char](1) NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STYLE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STYLE](
	[StyleID] [nchar](10) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_STYLE] PRIMARY KEY CLUSTERED 
(
	[StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STYLIST_SERVICE]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STYLIST_SERVICE](
	[EmployeeID] [nchar](30) NOT NULL,
	[ServiceID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_STYLIST_SERVICE] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMESLOT]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMESLOT](
	[SlotNo] [nchar](10) NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
 CONSTRAINT [PK_TIMESLOT] PRIMARY KEY CLUSTERED 
(
	[SlotNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TREATMENT]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TREATMENT](
	[TreatmentID] [nchar](10) NOT NULL,
	[Qty] [int] NULL,
	[TreatmentType] [varchar](50) NULL,
	[BrandID] [nchar](10) NULL,
 CONSTRAINT [PK_TREATMENT] PRIMARY KEY CLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UserID] [nchar](30) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[ContactNo] [nchar](10) NULL,
	[Password] [nvarchar](50) NULL,
	[UserType] [char](1) NULL,
	[Active] [char](1) NULL,
	[UserImage] [varchar](max) NULL,
	[AccountType] [nchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WIDTH]    Script Date: 2018/07/28 16:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIDTH](
	[WidthID] [nchar](10) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_WIDTH] PRIMARY KEY CLUSTERED 
(
	[WidthID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCESSORY] ([AccessoryID], [Colour], [Qty], [BrandID]) VALUES (N'Pr1135    ', N'Silver/Gold', 200, N'B19       ')
INSERT [dbo].[ACCESSORY] ([AccessoryID], [Colour], [Qty], [BrandID]) VALUES (N'Pr1136    ', N'#1', 200, N'B02       ')
INSERT [dbo].[ACCESSORY] ([AccessoryID], [Colour], [Qty], [BrandID]) VALUES (N'Pr1137    ', N'#1', 0, N'B05       ')
INSERT [dbo].[BOOKING] ([BookingID], [SlotNo], [CustomerID], [StylistID], [ServiceID], [Date], [Available], [Arrived], [Comment]) VALUES (N'176024758 ', N'Slo13     ', N'181477264752348604465         ', N'580312424824681240311         ', N'Pr1101    ', CAST(N'2018-07-24T00:00:00.000' AS DateTime), N'N', N'Y', NULL)
INSERT [dbo].[BRAID_SERVICE] ([ServiceID], [WidthID], [LengthID], [StyleID]) VALUES (N'Pr1101    ', N'W1000     ', N'L1000     ', N'S1001     ')
INSERT [dbo].[BRAID_SERVICE] ([ServiceID], [WidthID], [LengthID], [StyleID]) VALUES (N'Pr1102    ', N'W1001     ', N'L1000     ', N'S1001     ')
INSERT [dbo].[BRAID_SERVICE] ([ServiceID], [WidthID], [LengthID], [StyleID]) VALUES (N'Pr1103    ', N'W1002     ', N'L1000     ', N'S1001     ')
INSERT [dbo].[BRAND] ([BrandID], [Name], [Type(T/A)]) VALUES (N'B01       ', N'ORS', N'T')
INSERT [dbo].[BRAND] ([BrandID], [Name], [Type(T/A)]) VALUES (N'B02       ', N'X-Pression Ultra', N'A')
INSERT [dbo].[BRAND] ([BrandID], [Name], [Type(T/A)]) VALUES (N'B03       ', N'Tropic Isle Living', N'T')
INSERT [dbo].[BUSINESS] ([BusinessID], [Vat%], [VatRegNo], [AddressLine1], [AddressLine2], [Phone], [WeekdayStart], [WeekdayEnd], [WeekendStart], [WeekendEnd], [PublicHolStart], [PublicHolEnd], [Logo]) VALUES (N'001       ', 15, N'1001      ', N'1, University Way, Summerstrand', N'Port Elizabeth, 6019', N'0411234567', CAST(N'08:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'08:30:00' AS Time), CAST(N'17:30:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time), NULL)
INSERT [dbo].[CUST_VISIT] ([CustomerID], [Date], [BookingID], [Description]) VALUES (N'181477264752348604465         ', CAST(N'2018-07-24T00:00:00.000' AS DateTime), N'1         ', N'Thin braid bob')
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [AddressLine1], [AddressLine2], [Type]) VALUES (N'112413834414360855751         ', NULL, NULL, N'R         ')
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [AddressLine1], [AddressLine2], [Type]) VALUES (N'112475171777167063459         ', NULL, NULL, N'M         ')
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [AddressLine1], [AddressLine2], [Type]) VALUES (N'118233419479102946333         ', NULL, NULL, N'S         ')
INSERT [dbo].[Home_Page] ([FeatureID], [ItemID], [ImageURL]) VALUES (N'Ser01     ', N'Pr1103                        ', NULL)
INSERT [dbo].[Home_Page] ([FeatureID], [ItemID], [ImageURL]) VALUES (N'Ser02     ', N'Pr1147                        ', NULL)
INSERT [dbo].[Home_Page] ([FeatureID], [ItemID], [ImageURL]) VALUES (N'Ser03     ', N'Pr1160                        ', NULL)
INSERT [dbo].[LENGTH] ([LengthID], [Description]) VALUES (N'L1000     ', N'Short')
INSERT [dbo].[LENGTH] ([LengthID], [Description]) VALUES (N'L1001     ', N'Medium')
INSERT [dbo].[LENGTH] ([LengthID], [Description]) VALUES (N'L1002     ', N'Long')
INSERT [dbo].[PRODUCT] ([ProductID], [Name], [ProductDescription], [Price], [ProductType(T/A/S)], [Active], [ProductImage]) VALUES (N'Pr1101    ', N'Thin braid bob', N'Thin, bob length plait braids', 350.0000, N'S', N'Y', NULL)
INSERT [dbo].[PRODUCT] ([ProductID], [Name], [ProductDescription], [Price], [ProductType(T/A/S)], [Active], [ProductImage]) VALUES (N'Pr1102    ', N'Medium braid bob', N'Neck length, normal sized plait braids', 300.0000, N'S', N'Y', NULL)
INSERT [dbo].[PRODUCT] ([ProductID], [Name], [ProductDescription], [Price], [ProductType(T/A/S)], [Active], [ProductImage]) VALUES (N'Pr1103    ', N'Box braid bob', N'Neck length, box plait braids', 320.0000, N'S', N'Y', NULL)
INSERT [dbo].[SALE] ([SaleID], [Date], [CustomerID], [PaymentType], [BookingID]) VALUES (N'176024758 ', CAST(N'2018-07-24T14:12:15.560' AS DateTime), N'181477264752348604465         ', N'Credit    ', N'176024758 ')
INSERT [dbo].[SALE] ([SaleID], [Date], [CustomerID], [PaymentType], [BookingID]) VALUES (N'656443183 ', CAST(N'2018-07-24T13:40:10.770' AS DateTime), N'181477264752348604465         ', N'Credit    ', N'656443183 ')
INSERT [dbo].[SALES_DTL] ([SaleID], [ProductID], [Qty], [Price]) VALUES (N'176024758 ', N'Pr1101    ', 1, 350.0000)
INSERT [dbo].[SALES_DTL] ([SaleID], [ProductID], [Qty], [Price]) VALUES (N'656443183 ', N'Pr1101    ', 1, 350.0000)
INSERT [dbo].[SERVICE] ([ServiceID], [NoOfSlots], [Type(A/N/B)]) VALUES (N'Pr1101    ', 1, N'B')
INSERT [dbo].[SERVICE] ([ServiceID], [NoOfSlots], [Type(A/N/B)]) VALUES (N'Pr1102    ', 1, N'B')
INSERT [dbo].[SERVICE] ([ServiceID], [NoOfSlots], [Type(A/N/B)]) VALUES (N'Pr1103    ', 1, N'B')
INSERT [dbo].[STYLE] ([StyleID], [Description]) VALUES (N'S1001     ', N'Plait')
INSERT [dbo].[STYLE] ([StyleID], [Description]) VALUES (N'S1002     ', N'Twist')
INSERT [dbo].[STYLE] ([StyleID], [Description]) VALUES (N'S1003     ', N'Straight-back cornrows')
INSERT [dbo].[STYLIST_SERVICE] ([EmployeeID], [ServiceID]) VALUES (N'118233419479102946333         ', N'Pr1129    ')
INSERT [dbo].[STYLIST_SERVICE] ([EmployeeID], [ServiceID]) VALUES (N'270146203840160705048         ', N'Pr1160    ')
INSERT [dbo].[STYLIST_SERVICE] ([EmployeeID], [ServiceID]) VALUES (N'580312424824681240311         ', N'Pr1103    ')
INSERT [dbo].[TIMESLOT] ([SlotNo], [StartTime], [EndTime]) VALUES (N'Slo1      ', CAST(N'08:00:00' AS Time), CAST(N'08:30:00' AS Time))
INSERT [dbo].[TIMESLOT] ([SlotNo], [StartTime], [EndTime]) VALUES (N'Slo10     ', CAST(N'12:30:00' AS Time), CAST(N'13:00:00' AS Time))
INSERT [dbo].[TIMESLOT] ([SlotNo], [StartTime], [EndTime]) VALUES (N'Slo11     ', CAST(N'13:00:00' AS Time), CAST(N'13:30:00' AS Time))
INSERT [dbo].[TREATMENT] ([TreatmentID], [Qty], [TreatmentType], [BrandID]) VALUES (N'Pr1130    ', 200, N'Oil', N'B03       ')
INSERT [dbo].[TREATMENT] ([TreatmentID], [Qty], [TreatmentType], [BrandID]) VALUES (N'Pr1131    ', 200, N'Styling cream', N'B04       ')
INSERT [dbo].[TREATMENT] ([TreatmentID], [Qty], [TreatmentType], [BrandID]) VALUES (N'Pr1132    ', 200, N'Shampoo', N'B01       ')
INSERT [dbo].[USER] ([UserID], [FirstName], [LastName], [UserName], [Email], [ContactNo], [Password], [UserType], [Active], [UserImage], [AccountType]) VALUES (N'105242998585655922697         ', N'Harrison', N'Ford', N'Harrison1                     ', N'customercheveux@gmail.com', N'0784608877', NULL, N'C', N'T', N'https://lh4.googleusercontent.com/-yKpO8v1GOkk/AAAAAAAAAAI/AAAAAAAAAAA/AAnnY7pdWKxf6Isu9qjB2c0kJkbkARWDJw/s96-c/photo.jpg', N'Google    ')
INSERT [dbo].[USER] ([UserID], [FirstName], [LastName], [UserName], [Email], [ContactNo], [Password], [UserType], [Active], [UserImage], [AccountType]) VALUES (N'112413834414360855751         ', N'Wendy', N'Williams', N'WendyW', N'receptionistcheveux@gmail.com', NULL, NULL, N'E', N'T', N'https://lh4.googleusercontent.com/-3PrjKQq46zI/AAAAAAAAAAI/AAAAAAAAAAA/AAnnY7oEUk-P-VLZWB0osJsxRpnvJMlLRQ/s96-c/photo.jpg', N'Google    ')
INSERT [dbo].[USER] ([UserID], [FirstName], [LastName], [UserName], [Email], [ContactNo], [Password], [UserType], [Active], [UserImage], [AccountType]) VALUES (N'112475171777167063459         ', N'Oliver', N'James', N'JamesO                        ', N'managercheveux@gmail.com', N'0412345678', NULL, N'E', N'T', N'https://lh5.googleusercontent.com/-ypchYBYV0nQ/AAAAAAAAAAI/AAAAAAAAAAA/AAnnY7oSgpuGdget6aps1JaKK9No2OsoZQ/s96-c/photo.jpg', N'Google    ')
INSERT [dbo].[WIDTH] ([WidthID], [Description]) VALUES (N'W1000     ', N'Thin')
INSERT [dbo].[WIDTH] ([WidthID], [Description]) VALUES (N'W1001     ', N'Normal')
INSERT [dbo].[WIDTH] ([WidthID], [Description]) VALUES (N'W1002     ', N'Box')
/****** Object:  StoredProcedure [dbo].[SP_AccessorySearchByTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_AccessorySearchByTerm] 
	@searchTerm varchar(50)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.[ProductType(T/A/S)], P.ProductID
	From PRODUCT P, ACCESSORY A, BRAND B
	WHERE ProductID = AccessoryID AND B.BrandID = A.BrandID AND 
	(P.Name like '%'+@searchTerm+'%'  
	Or P.ProductDescription like '%'+@searchTerm+'%'
	Or A.Colour like '%'+@searchTerm+'%'
	Or B.Name like '%'+@searchTerm+'%') 
	AND P.Active = 'Y'
	Order By P.[ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddBooking]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_AddBooking]
	@BookingID nchar(10),
	@Slot nchar(10),
	@CustomerID nchar(30),
	@StylistID nchar(30),
	@ServiceID nchar(10),
	@Date date

AS
BEGIN 
	BEGIN TRY
		BEGIN TRANSACTION
			INSERT INTO BOOKING(BookingID, SlotNo, CustomerID, StylistID, ServiceID, [Date], Arrived, Available)
			VALUES(@BookingID, @Slot, @CustomerID, @StylistID, @ServiceID, @Date, 'N', 'N')
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddEmployee]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddEmployee]
	@employeeID nchar(30),
	@AddressLine1 varchar(max) = null,
	@AddressLine2 varchar(max) = null,
	@Type nchar(10)
AS
BEGIN

	BEGIN TRY 
		BEGIN TRANSACTION 
			INSERT INTO EMPLOYEE
						(EmployeeID,AddressLine1,AddressLine2,[Type])
			VALUES		(@employeeID,@AddressLine1,@AddressLine2,@Type)

			UPDATE [USER]
			SET	   [USER].UserType = 'E'
			WHERE  [USER].UserID = @employeeID
		COMMIT TRANSACTION 
	END TRY
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_AddNewUser] 
	@ID nchar(30),
	@FN varchar(50),
	@LN varchar(50),
	@UN nvarchar(50),
	@EM varchar(50),
	@CN nchar(10) = null,
	@UI nvarchar(MAX) = null,
	@AT nchar(10),
	@pass nchar(50) = null
AS
BEGIN
	begin try
		begin transaction
			INSERT INTO [CHEVEUX].[dbo].[User](UserID, FirstName, LastName, UserName, Email, ContactNo, UserType, Active, UserImage, AccountType, [Password])
			Values(@ID, @FN, @LN, @UN, @EM, @CN, 'C', 'T', @UI, @AT, @pass)
		commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPaymentTypeToSalesRecord]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	adds payment type to existing sales record
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddPaymentTypeToSalesRecord]
	@PaymentType nchar(10),
	@SaleD nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE [SALE]
			SET PaymentType = @PaymentType
			Where SaleID = @SaleD
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUserGoogleAuth]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddUserGoogleAuth] 
	@ID nchar(30),
	@FN varchar(50),
	@LN varchar(50),
	@UN nvarchar(50),
	@EM varchar(50),
	@CN nchar(10),
	@UI nvarchar(MAX)
AS
BEGIN
	begin try
		begin transaction
			INSERT INTO [CHEVEUX].[dbo].[User](UserID, FirstName, LastName, UserName, Email, ContactNo, UserType, Active, UserImage)
			Values(@ID, @FN, @LN, @UN, @EM, @CN, 'C', 'T', @UI)
		commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BookingsReportForHairstylist]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Bookings report for hairstylist
-- =============================================
CREATE PROCEDURE [dbo].[SP_BookingsReportForHairstylist]
	@stylistID nchar(30)
AS
BEGIN

Select BookingID, TIMESLOT.SlotNo, StartTime,EndTime, CustomerID,FirstName,LastName, StylistID, [SERVICE].ServiceID,PRODUCT.Name, Date, Available, Arrived, Comment 
From BOOKING, TIMESLOT, [USER], [SERVICE] , [PRODUCT]
where TIMESLOT.SlotNo = BOOKING.SlotNo
And BOOKING.CustomerID = [USER].UserID
And BOOKING.ServiceID = [SERVICE].ServiceID
And [SERVICE].ServiceID = PRODUCT.ProductID
and BOOKING.StylistID =  @stylistID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BookingsReportForHairstylistwithDateRange]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Bookings report for hairstylist with date range
-- =============================================
CREATE PROCEDURE [dbo].[SP_BookingsReportForHairstylistwithDateRange]
	@stylistID nchar(30),
	@startDate datetime,
	@endDate   datetime
AS
BEGIN

Select BookingID, TIMESLOT.SlotNo, StartTime,EndTime, CustomerID,FirstName,LastName, StylistID, [SERVICE].ServiceID,PRODUCT.Name, Date, Available, Arrived, Comment
From BOOKING, TIMESLOT, [USER], [SERVICE] , [PRODUCT]
where TIMESLOT.SlotNo = BOOKING.SlotNo
And BOOKING.CustomerID = [USER].UserID
And BOOKING.ServiceID = [SERVICE].ServiceID
And [SERVICE].ServiceID = PRODUCT.ProductID
and BOOKING.StylistID =  @stylistID

and Date BETWEEN @startDate   AND @endDate
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BraidServiceSearchByTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_BraidServiceSearchByTerm]
	@searchTerm varchar(50)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.[ProductType(T/A/S)], P.ProductID
	From PRODUCT P, SERVICE S, BRAID_SERVICE B, STYLE Y, LENGTH L, WIDTH W
	Where P.ProductID = s.ServiceID AND s.ServiceID = B.ServiceID AND B.LengthID = L.LengthID
	AND B.ServiceID = Y.StyleID AND B.WidthID = W.WidthID
	AND (P.Name like '%'+@searchTerm+'%'  
	Or P.ProductDescription like '%'+@searchTerm+'%' 
	OR W.Description like '%'+@searchTerm+'%'
	OR Y.Description like '%'+@searchTerm+'%'
	OR L.Description like '%'+@searchTerm+'%') AND P.Active = 'Y'
	AND P.[ProductType(T/A/S)] = 'S'
	Order By P.[ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckForAccountTypeEmail]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Given a username or email address returns the aaccountype
-- =============================================
CREATE PROCEDURE [dbo].[SP_CheckForAccountTypeEmail]
	@identifier nvarchar(50)
AS
BEGIN
	Select AccountType
	From [USER]
	Where (Email = @identifier
		or UserName = @identifier)
		AND [USER].Active = 'T'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckForUserType]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CheckForUserType] 
	@ID nchar(30)
AS
BEGIN
	SELECT UserType
	From [CHEVEUX].[dbo].[User]
	Where UserID = @ID
	AND [USER].Active = 'T'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckIn]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	S.Maqabangqa
-- Create date: 03.06.2018
-- Description:	Updates booking arrived to "Y (YES)".
-- =============================================
CREATE PROCEDURE [dbo].[SP_CheckIn]
	@BookingID nchar(10), 
	@StylistID nchar(30) = null
AS
BEGIN
	BEGIN TRY 
		BEGIN TRANSACTION
			
			UPDATE BOOKING
			SET Arrived='Y'
			WHERE BOOKING.BookingID=@BookingID
			AND	  BOOKING.StylistID=@StylistID
			AND BOOKING.Arrived='N'
		COMMIT TRANSACTION
	END TRY 
	BEGIN CATCH 
		IF(@@TRANCOUNT > 0)
			ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateCustVisit]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 04.06.2018
-- Description:	Add Customer Visit
-- =============================================

CREATE PROCEDURE [dbo].[SP_CreateCustVisit]
	@CustomerID nchar(30),
	@Date datetime,
	@BookingID nchar(10) = null,
	@Description varchar(50) = null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			INSERT INTO CUST_VISIT (CustomerID,[Date],BookingID,[Description])
			VALUES (@CustomerID,
					@Date,
					@BookingID,
					@Description)


		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateSalesDTLRecord]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Given a SaleID, ProductID & Qty is Creates a salesDTL record
-- =============================================
Create PROCEDURE [dbo].[SP_CreateSalesDTLRecord]
	@SaleID nchar(10), 
	@ProductID nchar(10),
	@Qty int
AS
BEGIN
	begin try
		begin transaction
			INSERt INTO SALES_DTL(SaleID, ProductID, Qty, Price) 
				values(@SaleID, @ProductID, @Qty, (select Price
													from PRODUCT
													where ProductID = @ProductID))
								commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateSalesRecord]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Given a bookingID Creates a sales record
-- =============================================
create PROCEDURE [dbo].[SP_CreateSalesRecord] 
	@BookingID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			INSERt INTO SALE(SaleID, [Date], CustomerID, BookingID) 
				values(@BookingID, GETDATE(), (select CustomerID
								from BOOKING
								where BookingID = @BookingID), @BookingID)
								commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeactivateUser]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Set the active colum of a user acount to false
-- =============================================
CREATE PROCEDURE [dbo].[SP_DeactivateUser] 
	@UserID nchar(30)
AS
BEGIN
	begin try
		begin transaction
			UPDATE [USER]
			SET Active = 'F'
			Where [UserID] = @UserID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteBooking]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteBooking] 
	@BookingID nchar(10)
AS
BEGIN
		Begin Transaction;
			Begin Try
				DELETE FROM BOOKING
				Where BookingID = @BookingID
			End try
		Begin Catch
			if @@TRANCOUNT > 0
				Begin
					ROLLBACK TRANSACTION
				End
		End Catch
commit Transaction
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditUser]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Edits the Username and Contact No. of a user
-- =============================================
CREATE PROCEDURE [dbo].[SP_EditUser] 
	@UserID nchar(30),
	@UserName nchar(30),
	@ContactNo nchar(10),
	@Name varchar(50),
	@LName varchar(50),
	@Email varchar(50)
AS
BEGIN
	begin try
		begin transaction
			UPDATE [User]
			SET UserName = @UserName,
				ContactNo = @ContactNo,
				FirstName = @Name,
				LastName = @LName,
				Email = @Email
			Where UserID = @UserID
			AND [USER].Active = 'T'
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FeaturedProductsAndContact]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Get the features stylists and contact us info
-- =============================================
CREATE PROCEDURE [dbo].[SP_FeaturedProductsAndContact] 
AS
BEGIN
	SELECT [FeatureID], [ItemID], [ImageURL], [USER].FirstName, [USER].ContactNo, [USER].Email
	FROM [CHEVEUX].[dbo].[Home_Page], [USER]
	Where ItemID = [USER].UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FeaturedProductsAndHairStyles]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Gets the Featured Products and hairstyles
-- =============================================
CREATE PROCEDURE [dbo].[SP_FeaturedProductsAndHairStyles] 
AS
BEGIN
	SELECT [FeatureID], [ItemID], [ImageURL], PRODUCT.Name, PRODUCT.ProductDescription, PRODUCT.Price
	FROM [CHEVEUX].[dbo].[Home_Page], PRODUCT
	Where ItemID = PRODUCT.ProductID
	Order By [FeatureID]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAccessories]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	gets all accessories in the database with details from the product Table
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllAccessories]
AS
BEGIN
	SELECT [ProductID]
      ,[PRODUCT].[Name]
      ,[ProductDescription]
      ,[Price]
      ,[ProductType(T/A/S)]
      ,[Active]
      ,[ProductImage]
	  ,[Colour]
      ,[Qty]
      ,BRAND.[BrandID]
	  ,BRAND.Name
	  , BRAND.[Type(T/A)]
	FROM [CHEVEUX].[dbo].[PRODUCT], ACCESSORY, BRAND
	WHERE ProductID = AccessoryID AND BRAND.BrandID = ACCESSORY.BrandID
	order by [ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllofBookingDTL]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 04.06.2018
-- Description:	Gets all details of booking
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllofBookingDTL]
	@BookingID nchar(10),
	@CustomerID nchar(30) null
AS
BEGIN
	Select  	cv.BookingID,
			cv.CustomerID,CONCAT(U.FirstName,' ',U.LastName)AS[CustomerName] ,
			P.[Name]AS[ServiceName], P.ProductDescription AS [ServiceDescription], P.Price,
			B.[Date], TS.StartTime, TS.EndTime   
			     
	From 		BOOKING B, TIMESLOT TS, [User] U, PRODUCT P, CUST_VISIT cv

	Where 		cv.BookingID = @BookingID 
	AND 		cv.CustomerID=@CustomerID
	AND			B.BookingID=cv.BookingID
	AND			B.CustomerID=cv.CustomerID
	AND 		B.SlotNo = TS.SlotNo 
	AND 		B.StylistID = U.UserID 
	AND 		B.ServiceID = P.ProductID  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProducts]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Gets All Products in the Product Table
-- =============================================
Create PROCEDURE [dbo].[SP_GetAllProducts] 
AS
BEGIN
	SELECT *
	FROM [CHEVEUX].[dbo].[PRODUCT]
	order by [ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTreatments]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	gets all treatments and thier details from the product, treatment and brand tables
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetAllTreatments]
AS
BEGIN
	SELECT [ProductID]
      ,Product.Name
      ,[ProductDescription]
      ,[Price]
      ,[ProductType(T/A/S)]
      ,[Active]
      ,[ProductImage]
	  ,[Qty]
      ,[TreatmentType]
      ,BRAND.[BrandID]
	  ,BRAND.Name
	  ,Brand.[Type(T/A)]
	FROM [CHEVEUX].[dbo].[PRODUCT], TREATMENT, BRAND
	WHERE ProductID = TreatmentID AND BRAND.BrandID = TREATMENT.BrandID
	order by [ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookedTimes]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_GetBookedTimes] 
	@UserID nchar(30),
	@Date datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SlotNo
	FROM BOOKING
	WHERE @UserID = StylistID AND @Date = [Date] AND Available = 'N'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookingDetailsForCustVistRecord]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Gets booking deatials for a booking in progress
-- =============================================
Create PROCEDURE [dbo].[SP_GetBookingDetailsForCustVistRecord]
	-- Add the parameters for the stored procedure here
	@bookingID nchar(10)
AS
BEGIN
	Select P.[Name], P.ProductDescription, P.Price,  U.FirstName, B.[Date], TS.StartTime, BookingID, B.CustomerID, B.ServiceID      
	From BOOKING B, TIMESLOT TS, [User] U, PRODUCT P
	Where BookingID = @bookingID
	AND B.SlotNo = TS.SlotNo 
	AND B.StylistID = U.UserID 
	AND B.ServiceID = P.ProductID 
	AND B.Arrived = 'Y'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookingServiceDTL]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 04.06.2018
-- Description:	Gets service details of customer booking
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetBookingServiceDTL]
	@BookingID nchar(10),
	@CustomerID nchar(30) = null
AS
BEGIN
	SET NOCOUNT ON;
	SELECT b.BookingID, p.[Name]AS[ServiceName] , p.ProductDescription AS [ServiceDescription]
	FROM BOOKING b, [SERVICE] s, PRODUCT p
	WHERE b.BookingID=@BookingID
	AND   b.CustomerID=@CustomerID
	AND   b.ServiceID=s.ServiceID
	AND   s.ServiceID = p.ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getBusinessTable]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	returns the business table
-- =============================================
CREATE PROCEDURE [dbo].[SP_getBusinessTable]
AS
BEGIN
	Select *
	From BUSINESS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCurrentVATRate2]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCurrentVATRate2]
AS
BEGIN
	Select [Vat%]
	From BUSINESS
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerPastBooking]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_GetCustomerPastBooking]
	@CustID nchar(30)
AS
BEGIN
	Select P.[Name], P.ProductDescription, P.Price,  U.FirstName, B.[Date], TS.StartTime, BookingID, B.Arrived       
	From BOOKING B, TIMESLOT TS, [User] U, PRODUCT P
	Where CustomerID = @CustID 
	AND B.SlotNo = TS.SlotNo 
	AND B.StylistID = U.UserID 
	AND B.ServiceID = P.ProductID 
	AND (B.Arrived = 'Y' Or B.Arrived = 'N')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerPastBookingDetail]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Given a booking ID it reaturns the deatails of that booking
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetCustomerPastBookingDetail] 
	@bookingID nchar(10)
AS
BEGIN
	Select P.[Name], P.ProductDescription, P.Price,  U.FirstName, B.[Date], TS.StartTime, BookingID, B.Arrived       
	From BOOKING B, TIMESLOT TS, [User] U, PRODUCT P
	Where BookingID = @bookingID 
	AND B.SlotNo = TS.SlotNo 
	AND B.StylistID = U.UserID 
	AND B.ServiceID = P.ProductID 
	AND (B.Arrived = 'Y' Or B.Arrived = 'N')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerUpcomingBookingDetails]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_GetCustomerUpcomingBookingDetails] 
	@BookingID nchar(10)
AS
BEGIN
	Select P.[Name], P.ProductDescription, P.Price, U.UserID,  U.FirstName, B.[Date], TS.StartTime, BookingID           
	From BOOKING B, TIMESLOT TS, [User] U, PRODUCT P
	Where BookingID = @BookingID 
	AND B.SlotNo = TS.SlotNo 
	AND B.StylistID = U.UserID 
	AND B.ServiceID = P.ProductID 
	AND (B.Arrived is null or B.Arrived = 'N') 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerUpcomingBookings]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_GetCustomerUpcomingBookings]
	@CustID nchar(30)
AS
BEGIN
Select P.[Name], P.ProductDescription, P.Price,  U.FirstName, B.[Date], TS.StartTime, BookingID, B.Arrived, P.ProductID , B.StylistID       
	From BOOKING B, TIMESLOT TS, [User] U, PRODUCT P
	Where CustomerID = @CustID 
	AND B.SlotNo = TS.SlotNo 
	AND B.StylistID = U.UserID 
	AND B.ServiceID = P.ProductID 
	AND B.Arrived = 'N'
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmpAgenda]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 27.05.2018
-- Description:	Gets a specific employees agenda for the day.
-- Only for booking where the check out process is not complete
-- =============================================
Create PROCEDURE [dbo].[SP_GetEmpAgenda]
	@EmployeeID nchar(30),
	@Date datetime = null
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  	b.BookingID,
			u.[UserID],
			ts.StartTime, ts.EndTime
			, u.[FirstName]AS[CustomerFName],
			
			(SELECT u.UserID
			 FROM [User] u
			 WHERE u.UserID=@EmployeeID)  as EmpID,
			 (SELECT u.FirstName
			 FROM [User] u
			 WHERE u.UserID=@EmployeeID) AS [EmpFName],

			p.ProductID, p.[Name]AS[ServiceName], b.Arrived, b.[Date]

	FROM BOOKING b, TIMESLOT ts, [User] u,[SERVICE] s, PRODUCT p

	WHERE b.StylistID=@EmployeeID
	AND ts.SlotNo=b.SlotNo
	AND b.CustomerID=u.UserID
	AND b.ServiceID=s.ServiceID
	AND s.ServiceID=p.ProductID
	AND b.[Date] = @Date
	AND (Select PaymentType
		From Sale
		Where b.BookingID = SaleID) is null
	AND (b.Arrived='N' OR b.Arrived='Y')
	
	ORDER BY ts.StartTime,ts.EndTime
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeType]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEmployeeType] 
	@EmpID nchar(30)
AS
BEGIN
	Select [Type]
	from EMPLOYEE
	Where EmployeeID = @EmpID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmployeeTypes]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Returns all emplyee types in database
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetEmployeeTypes]
AS
BEGIN
	Select DISTINCT [Type]
	From EMPLOYEE
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmpNames]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 24.05.2018
-- Description:	Gets names of active employees.
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetEmpNames]
AS
BEGIN 
	SET NOCOUNT ON;
	SELECT e.EmployeeID, u.FirstName + ' ' + u.LastName AS [Name]
	FROM [CHEVEUX].[dbo].[User] u, EMPLOYEE e
	WHERE u.UserID=e.EmployeeID AND u.Active = 'T' AND e.Type ='S'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_getInvoiceDL]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_getInvoiceDL] 
	@BookingID nchar(10)
AS
BEGIN
	Select p.[Name], d.Qty, d.Price
	From SALE s, SALES_DTL d, PRODUCT p
	Where s.SaleID = d.SaleID
	AND s.BookingID = @BookingID
	AND p.ProductID = d.ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMyNextCustomer]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 07.06.2018
-- Description:	Shows the stylist appointments of ONLY customers that have been checked-in (arrived for their appointment)
-- =============================================
Create PROCEDURE [dbo].[SP_GetMyNextCustomer]
    @EmployeeID nchar(30),
	@Date datetime = null
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  	b.BookingID,
				u.[UserID],
				ts.StartTime, ts.EndTime
				, u.[FirstName]AS[CustomerFName],
			
				(SELECT u.FirstName
					FROM [User] u
					WHERE u.UserID=@EmployeeID) AS [EmpFName],

				p.[Name]AS[ServiceName], b.Arrived, b.[Date]

	FROM BOOKING b, TIMESLOT ts, [User] u,[SERVICE] s, PRODUCT p

	WHERE b.StylistID=@EmployeeID
	AND	  ts.SlotNo=b.SlotNo
	AND   b.CustomerID=u.UserID
	AND   b.ServiceID=s.ServiceID
	AND   s.ServiceID=p.ProductID
	AND   b.[Date] = @Date
	AND   b.Arrived='Y'
	AND (Select BookingID
		From Sale
		Where b.BookingID = SaleID) is null
	
    ORDER BY ts.StartTime,ts.EndTime

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductTypes]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Returns all Product types in Product table of database
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetProductTypes]
AS
BEGIN
	Select DISTINCT [ProductType(T/A/S)]
	From [CHEVEUX].[dbo].[PRODUCT]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSalePaymentType]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	given sale id returns the payment type
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetSalePaymentType] 
	@SaleID nchar(10)
AS
BEGIN
	Select PaymentType
	From SALE
	where SaleID = @SaleID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetServices]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[SP_GetServices]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT Name, ProductID
	FROM PRODUCT
	WHERE [ProductType(T/A/S)] = 'S';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStylist]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetStylist] 
AS
BEGIN
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [UserID], FirstName, ServiceID
	FROM [USER], STYLIST_SERVICE 
	WHERE [UserID] = EmployeeID AND UserType = 'S'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTimeSlots]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_GetTimeSlots] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SlotNo, StartTime
	FROM TIMESLOT

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTodaysBookings]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	gets all of todays bookings and their details
-- =============================================
Create PROCEDURE [dbo].[SP_GetTodaysBookings]
AS
BEGIN
SELECT [BookingID]
      ,[BOOKING].SlotNo, [StartTime], [EndTime]
      ,[CustomerID],[FirstName], [LastName]
      ,[StylistID]
      ,[ServiceID], [Name]
      ,[Date]
      ,[Available]
      ,[Arrived]
      ,[Comment]
  FROM [CHEVEUX].[dbo].[BOOKING], [CHEVEUX].[dbo].[TIMESLOT], [CHEVEUX].[dbo].[USER],
		[CHEVEUX].[dbo].[PRODUCT]
  Where BOOKING.SlotNo = TIMESLOT.SlotNo
		AND BOOKING.CustomerID = [USER].UserID
		AND [PRODUCT].ProductID = BOOKING.ServiceID
		AND [Date] = (SELECT CAST (GETDATE() AS DATE))
	Order by SlotNo
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserDetails]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserDetails]
	@ID nchar(30)
AS
BEGIN
	Select FirstName, LastName, UserName, Email, ContactNo, UserType, UserImage, AccountType
	From [User]
	Where [User].[UserID] = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LogInEmail]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	using the email of password returns  UserID, UserType, [FirstName]
-- =============================================
CREATE PROCEDURE [dbo].[SP_LogInEmail] 
	-- Add the parameters for the stored procedure here
	@identifier nvarchar(50),
	@password nvarchar(50)
AS
BEGIN
	Select UserID, UserType, [FirstName]
	From [USER]
	Where Password = @password
	AND (Email = @identifier
		or UserName = @identifier)
		AND [USER].Active = 'T'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductSearchByTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_ProductSearchByTerm]
	@searchTerm varchar(50)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.[ProductType(T/A/S)], P.ProductID
	From PRODUCT P
	Where (P.Name like '%'+@searchTerm+'%'  Or P.ProductDescription like '%'+@searchTerm+'%') AND P.Active = 'Y'
	Order By P.[ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaleOfHairstylist]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SaleOfHairstylist]
	@StylistID nchar(30)
AS
BEGIN
Select s.SaleID,s.[Date],(u.FirstName + ' ' + u.LastName) AS[FullName], s.CustomerID, s.BookingID
From SALE s, [USER] u, SALES_DTL, BOOKING b
Where s.BookingID = b.BookingID
And b.StylistID = @StylistID
And u.UserID = b.CustomerID
And s.CustomerID = b.CustomerID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchByTermAndType]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchByTermAndType]
	@SearchTerm nchar(50),
	@ProdType char(1)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.ProductID
	From PRODUCT P
	Where P.[ProductType(T/A/S)] = @ProdType AND P.Name like '%'+@SearchTerm+'%' Or P.ProductDescription like '%'+@SearchTerm+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchForUser]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- =============================================
CREATE PROCEDURE [dbo].[SP_SearchForUser]
	@searchTerm varchar(50)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT u.UserImage,u.UserID, (u.FirstName + ' ' +u.LastName)AS[FullName] , u.UserName,u.Email,u.ContactNo
	FROM [USER] u
	WHERE (u.UserImage like '%'+@searchTerm+'%'
		   Or u.UserID like '%'+@searchTerm+'%'  
		   Or u.FirstName like '%'+@searchTerm+'%'
		   Or u.LastName like '%'+@searchTerm+'%'
		   Or u.FirstName + ' ' + u.LastName like '%'+@searchTerm+'%'
		   Or u.UserName like '%'+@searchTerm+'%'
		   Or u.Email like '%'+@searchTerm+'%'
		   Or u.ContactNo like '%'+@searchTerm+'%')
		   AND u.Active = 'T'
		ORDER BY (u.FirstName + ' ' +u.LastName) ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SearchStylistsBySearchTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SearchStylistsBySearchTerm]
	@searchTerm varchar(50)
AS
BEGIN
	Select U.UserID, U.FirstName, U.LastName, U.UserImage
	From [User] U, EMPLOYEE E
	Where (U.FirstName like '%'+@searchTerm+'%'  Or U.LastName like '%'+@searchTerm+'%')
	And U.UserID = E.EmployeeID 
	And E.Type= 'S' 
	AND U.Active = 'T'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ServiceSearchByTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_ServiceSearchByTerm]
	@searchTerm varchar(50)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.[ProductType(T/A/S)], P.ProductID
	From PRODUCT P
	Where P.ProductID not in
			(SELECT [ServiceID] FROM [CHEVEUX].[dbo].[BRAID_SERVICE])
	AND (P.Name like '%'+@searchTerm+'%'  Or P.ProductDescription like '%'+@searchTerm+'%') AND P.Active = 'Y'
	AND P.[ProductType(T/A/S)] = 'S'
	Order By P.[ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TreatmentSearchByTerm]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TreatmentSearchByTerm] 
	@searchTerm varchar(50)
AS
BEGIN
	select P.Name, P.ProductDescription, P.Price, P.[ProductType(T/A/S)], P.ProductID
	From PRODUCT P, TREATMENT T, BRAND B
	WHERE ProductID = TreatmentID AND B.BrandID = T.BrandID AND 
	(P.Name like '%'+@searchTerm+'%'  
	Or P.ProductDescription like '%'+@searchTerm+'%'
	Or T.TreatmentType like '%'+@searchTerm+'%'
	Or B.Name like '%'+@searchTerm+'%')  
	AND P.Active = 'Y'
	Order By P.[ProductType(T/A/S)]
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAddress]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the addres in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdateAddress]
	@addline1 varchar(max),
	@addline2 varchar(max),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET AddressLine1 = @addline1,
				AddressLine2 = @addline2
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBooking]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Updates An Existing Booking
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateBooking] 
	@BookingID nchar(10),
	@SlotNo nchar(10),
	@StylistID nchar(30),
	@ServiceID nchar(10),
	@Date datetime
AS
BEGIN
	begin try
		begin transaction
			UPDATE BOOKING
			SET SlotNo = @SlotNo, 
				StylistID = @StylistID,
				ServiceID = @ServiceID,
				[Date] = @Date,
				Arrived = 'N'
			Where BookingID = @BookingID 
			AND (select Available
					from BOOKING
					Where Date = @Date
					AND SlotNo = @SlotNo
					AND StylistID = @StylistID) = 'Y'
					commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCustVisit]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 04.06.2018
-- Description:	Updates Existing Customer Visit.
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateCustVisit]
	@CustomerID nchar(30),
	@BookingID nchar(10) null,
	@Description varchar(50) = null
AS
BEGIN
	BEGIN TRY 
		BEGIN TRANSACTION
			UPDATE CUST_VISIT
			SET	   [Description] = @Description
			WHERE CustomerID=@CustomerID
			AND	  BookingID=@BookingID
		COMMIT TRANSACTION
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateEmployee]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateEmployee]
	@empID nchar(30),
	@addLine1 varchar(max) = null,
	@addLine2 varchar(max) = null,
	@type nchar(10) = null
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
			
			UPDATE EMPLOYEE
			SET AddressLine1=@addLine1,
				AddressLine2=@addLine2,
				[Type]=@type
			WHERE EmployeeID=@empID

		COMMIT TRANSACTION 
	END TRY 
	BEGIN CATCH 
		IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION
	END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePhoneNumber]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the phone number in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdatePhoneNumber]
	@PhoneNumber nchar(10),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET Phone = @PhoneNumber
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePublicHolidayHours]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the public holiday hours in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdatePublicHolidayHours]
	@start time(7),
	@end time(7),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET PublicHolStart = @start,
				PublicHolEnd = @end
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateVateRate]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the Vate Rate in the Bussiness Table
-- =============================================
Create PROCEDURE [dbo].[SP_UpdateVateRate] 
	@VatRat int,
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET [Vat%] = @VatRat
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateVateRegNo]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the Vate reg no in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdateVateRegNo] 
	@VatRegno nchar(10),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET VatRegNo = @VatRegno
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateWeekdayHours]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the Weekday hours in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdateWeekdayHours]
	@start time(7),
	@end time(7),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET WeekdayStart = @start,
				WeekdayEnd = @end
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateWeekendHours]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	updates the Weekend hours in the Bussiness Table
-- =============================================
create PROCEDURE [dbo].[SP_UpdateWeekendHours]
	@start time(7),
	@end time(7),
	@BusinessID nchar(10)
AS
BEGIN
	begin try
		begin transaction
			UPDATE BUSINESS
			SET WeekendStart = @start,
				WeekendEnd = @end
			Where BusinessID = @BusinessID
		Commit transaction
	end try
	begin catch
		if @@TRANCOUNT > 0
			rollback transaction
	end catch
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserList]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- =============================================
CREATE PROCEDURE [dbo].[SP_UserList]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  u.UserImage,u.UserID, (u.FirstName + ' ' +u.LastName)AS [FullName] , u.UserName,u.Email,u.ContactNo
	FROM [USER] u
	WHERE (u.UserType = 'C' OR u.UserType=null)
		AND u.Active = 'T'
	ORDER BY FullName ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ViewAllEmployee]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	returns a list of all employee details in the form of TypeLibary SP_ViewEmployee
-- =============================================
CREATE PROCEDURE [dbo].[SP_ViewAllEmployee]
AS
BEGIN
	Select UserID, FirstName, LastName, UserName, Email, ContactNo, [Type], UserImage, Active
	From [USER], EMPLOYEE
	Where UserID = EMPLOYEE.EmployeeID 
	AND [USER].Active = 'T'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ViewCustVisit]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		S.Maqabangqa
-- Create date: 04.06.2018
-- Description:	View Customer Visit Record
-- =============================================
CREATE PROCEDURE [dbo].[SP_ViewCustVisit]
	@CustomerID nchar(30),
	@BookingID nchar(10) = null
AS
BEGIN

	SET NOCOUNT ON;
	SELECT * 
	FROM CUST_VISIT c 
	WHERE c.CustomerID=@CustomerID AND c.BookingID=@BookingID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ViewEmployee]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ViewEmployee] 
	@EmployeeID nchar(30)
AS
BEGIN
	Select UserID, FirstName, LastName, UserName, Email, ContactNo, [Type], UserImage, Active, AddressLine1, AddressLine2
	From [USER], EMPLOYEE
	Where UserID = EMPLOYEE.EmployeeID
		AND UserID = @EmployeeID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ViewStylistSpecialisation]    Script Date: 2018/07/28 16:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	given an emplyeeID (Stylist) it returns that employee specialization
-- =============================================
CREATE PROCEDURE [dbo].[SP_ViewStylistSpecialisation] 
	@EmployeeID nchar(30)
AS
BEGIN
	Select EmployeeID, ServiceID, [Name], ProductDescription, Price, [ProductType(T/A/S)], ProductImage
	From STYLIST_SERVICE, PRODUCT
	Where ProductID = ServiceID
		And Active = 'Y'
		AND EmployeeID = @EmployeeID
END
GO
USE [master]
GO
