.vertical-center {
    position: fixed; /* or absolute */
    top: 10%;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');

html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.g-signin2 {
    width: 100%;
}

    .g-signin2 > div {
        margin: 0 auto;
    }

body {
    margin-top: 150px;
}
