USE [CHEVEUX]
GO
/****** Object:  StoredProcedure [dbo].[SP_ViewEmployee]    Script Date: 2018/07/26 15:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ViewEmployee] 
	@EmployeeID nchar(30)
AS
BEGIN
	Select UserID, FirstName, LastName, UserName, Email, ContactNo, [Type], UserImage, Active, AddressLine1, AddressLine2, Suburb, City
	From [USER], EMPLOYEE
	Where UserID = EMPLOYEE.EmployeeID
		AND UserID = @EmployeeID
END
